* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ababd3;    
}

#achtergrond {
    top: 15vh; 
    left: 10vw;
    width: 80vw;
    position: absolute;
}

#iconen img {
    max-width: 4vw;
    position: absolute;
}

#iconen img:first-of-type {
    top: 3vw;
    left: 35vw;
}

#iconen img:nth-child(2) {
    top: 3vw;
    left: 45vw;
}

#iconen img:nth-child(3) {
    top: 3vw;
    left: 55vw;
}

h1 {
    color: rgb(63, 63, 84);
    position: absolute;
    left: 38vw;
}

#veranderAchtergrond {
    position: absolute;
    top: 20vw;
}

#btnMuziek {
    position: absolute;
    top: 25vw;
}

#naam {
    position: absolute;
    top: 15vw;
}

#HangAap {
    width: 22vw;
    top: 20vh;
    position: absolute;
    left: 30vw;
}

#veranderButtons {
    position: absolute;
    left: 50vw;
}
