* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ababd3;    
}

/* achtergrond */
#achtergrond {
    top: 15vh; 
    left: 10vw;
    width: 80vw;
    position: absolute;
}

#veranderAchtergrond {
    position: absolute;
    top: 20vw;
}

/* iconen */
#iconen img {
    max-width: 4vw;
    position: absolute;
}

#iconen img:first-of-type {
    top: 3vw;
    left: 35vw;
}

#iconen img:nth-child(2) {
    top: 3vw;
    left: 45vw;
}

#iconen img:nth-child(3) {
    top: 3vw;
    left: 55vw;
}

h1 {
    color: rgb(63, 63, 84);
    position: absolute;
    left: 34vw;
}

#btnMuziek {
    position: absolute;
    top: 25vw;
}

#btnStopMuziek {
    position: absolute;
    top: 27vw;
}

#naam {
    position: absolute;
    top: 15vw;
}

#HangAap {
    width: 22vw;
    top: 20vh;
    position: absolute;
    left: 30vw;
}

#voedselProcent {
    position: absolute;
    left: 40vw;
    top: 4vw;
    font-size: 150%;
}

#energieProcent {
    position: absolute;
    left: 49vw;
    top: 4vw;
    font-size: 150%;
}

#plezierProcent {
    position: absolute;
    left: 60vw;
    top: 4vw;
    font-size: 150%;
}

#btnAap {
    position: absolute;
    top: 15vw;
    left: 92vw;
}

#btnBanaan {
    position: absolute;
    top: 20vw;
    left: 92.5vw;
}

#btnWater {
    position: absolute;
    top: 25vw;
    left: 93vw;
}